@model MedAide.Models.ViewPrescription
@{
    ViewBag.Title = "ViewPrescription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="filterbackgroud">
    <div class="filter">
 

        <h3> Filter </h3>
        <p>
            @using (Html.BeginForm("ViewPrescription", "ViewPrescription", FormMethod.Post))
            {
                <label for="from">from:</label>
                @Html.TextBoxFor(m => m.starTime, new { type = "datetime-local", @required = "true" })
                <label for="to">to:</label>
                @Html.TextBoxFor(m => m.endTime, new { type = "datetime-local", @required = "true" })
                <input type="submit" value="Search">
            }
        </p>
        
            <p>
                <a href="/ViewJournal/ViewJournal">

                    <input type="submit" value="Journal">

                </a>
                <a href="/ViewReport/ViewReport">

                    <input type="submit" value="Report">

                </a>
                <a href="/ViewPrescription/ViewPrescription">
                    <input class="filteractive" type="submit" value="Prescription">
                </a>
                <a href="/ViewMedList/ViewMedList">

                    <input type="submit" value="MedList">

                </a>
            </p>

        </div>

</section>
<section class="timeline-main">

    <div class="wrapper">
        <div class="timeline-content-6">
            <h1>Patient Prescription Details</h1>
            <ul class="timeline">
                @{int a = 2;
                    if (Model.result == null)
                    {
                    }
                    else
                    {
                        foreach (var Item in Model.result)
                        {
                            if (a % 2 == 0)
                            {
                                a++;

                                <li>
                                    <hr />
                                    <div class="direction-r">
                                        <div class="flag-wrapper">

                                            <span class="flag">Prescription from</span>

                                            <span class="time-wrapper"><span class="time">@Html.DisplayFor(modelItem => Item.pre.date_time)</span></span>
                                        </div>
                                        <div class="desc">
                                            Doctor  :@Html.DisplayFor(modelItem => Item.doc.name)
                                            <div>
                                                <button class="downloadButton">
                                                    <div>
                                                        <a href="/ViewPrescription/Download?id=@Item.pre.id" class="reportdownload" download>Download</a>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </li>

                            }
                            else
                            {
                                a++;

                                <!-- Item 2 -->
                                <li>
                                    <hr />
                                    <div class="direction-l">
                                        <div class="flag-wrapper">

                                            <span class="flag">Prescription from</span>

                                            <span class="time-wrapper"><span class="time">@Html.DisplayFor(modelItem => Item.pre.date_time)</span></span>
                                        </div>
                                        <div class="desc">
                                            Doctor  :@Html.DisplayFor(modelItem => Item.doc.name)
                                            <div>
                                                <button class="downloadButton">
                                                    <div>
                                                        <a href="/ViewPrescription/Download?id=@Item.pre.id" class="reportdownload" download>Download</a>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </li>
                            }
                        }
                    }

                }
            </ul>

        </div>

    </div>
</section>

