@{
    ViewBag.Title = "About";
}
<section id="about">
    <div class="hero-container services">
     <div class="details">
         <p> We are a small team of 4 individuals. We are students of computer science. <br /> We try to provide 
         solution of day to day problems.
         </p>
         <div>
             <h4> Team Members</h4>
             <ul class="teamMembers">
                 <li>
                     <p> Iqbal Hassan Rakin</p>
                 </li>
                 <li>
                     <p>
                         Abtahi Mursalin
                     </p>
                 </li>
                 <li>
                     <p>
                         Almas Shahriar Ador
                     </p>
                 </li>
                 <li>
                     <p>
                         Robin Bin Salam
                     </p>
                 </li>
             </ul>
         </div>
     </div>


    </div>
</section>
