@{
    ViewBag.Title = "Contact";
}
<section id="contactpage">
    <div class="hero-container services">
        <div class="details">
            <h4>Contact us using following methods-</h4>
            <div>
                <ul class="teamMembers">
                    <li>
                        <p>
                            Email us at 
                            <a href="mailto: teamGeneric@gmail.com">teamGeneric@gmail.com</a>
                        </p>
                        <p>
                            Call us at
                            <a href="tel:+8801521436363"> +8801521436363</a> <br />
                        </p>
                        <p>
                            <a href="tel:+8801521425353"> +8801521425353</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</section>