@{
    ViewBag.Title = "Home Page";
}

<section id="hero">
    <div class="hero-container">
        <h1>Welcome to MedAide</h1>
        <h2>We are your health journal</h2>
        <a href="/Login/Login">
            <button class="btn-get-started scrollto pq">
                Log in
            </button>
        </a>
        <a href="/SignUp/SignUp">
            <button class="btn-get-started scrollto pq">
                Sign up
            </button>
        </a>       

    </div>
</section>