
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="services">
    <div class="hero-container services">
       <div class="details">
           <h4>We provide these services -</h4>
           <ul class="teamMembers">
               <li>
                  <h4>Archive</h4>
                  <p>
                      We archive your whole medical history in one place. So, you are always few  <br />
                      seconds away from your desired informations.
                  </p>
               </li>
               <li>
                   <h4>Versatile GUI</h4>
                   <p>
                       We provide different UI's to different type of user. <br />
                       So, you will feel comfort while using our solution.
                    </p>
               </li>
               <li>
                   <h4>Security</h4>
                   <p>
                       We handle your data with upmost care. <br />
                       Privacy is ensured for every usertype.
                   </p>
               </li>
           </ul>
       </div>

    </div>
</section>

